@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 500px;
}

#content{
  position: relative;
  width: 100%;
  height: 100%;
}

/* = tout les elements du parent*/
#content *{
  box-sizing: border-box;
}


#infos{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #0129a9;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #0b54de;
}

#infos:hover{
  border: 3px solid #00feff;
  border-radius: 50%;
}

#banniere{
  position: absolute;
  margin-left: 200px;
  margin-top: 150px;
  width: 600px;
  height: 200px;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  border-radius: 20%;
  background-color:  hsla(10, 0%, 0%, 0.6);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

#paragraphe{
  color: white;
}

.infos{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #0279df;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  align-items: center;
  background-color: #0050db;
  color: #2df5ff;
}

.infos:hover{
  border: 2px solid #00feff;
  border-radius: 50%;
}

#skills{
  margin-top: 300px;
  margin-left: 80px;
}

#about{
  margin-bottom: 60px;
}

#project{
  margin-right: 215px;
  margin-top: 60px;
}

#toto{
  margin-right: 360px;
  margin-bottom: 300px;
}

mdb-icon{
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

#bigOutterBorder{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  border: 1px solid #0245bd;
  border-radius: 50%;
}

#bigStrokes{
  /*background-color: green;*/
  position: absolute;
  left: 4px; right: 4px;
  top: 4px; bottom: 4px;
  margin: auto;
  animation: spin 60s linear infinite;
}

#bigStrokes .stroke{
  /*background-color: red;*/
  width: 100%;
  height: 100%;
  position: absolute;
}

#bigStrokes .stroke div{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 2px;
  height: 25px;
  margin: auto;
  background-color: #0447c4;
}

#bigInnerBorder{
  position: absolute;
  left: 33px; right: 33px;
  top: 33px; bottom: 33px;
  margin: auto;
  border: 1px solid #0245bd;
  border-radius: 50%;
}

#bigDots{
  position: absolute;
  left: 37px; right: 37px;
  top: 37px; bottom: 37px;
  margin: auto;
  border: 2px dotted #0245bd;
  border-radius: 50%;
  animation: spin 80s linear infinite;
}
#littleOutterDots{
  position: absolute;
  left: 77px; right: 77px;
  top: 77px; bottom: 77px;
  margin: auto;
  border: 2px dotted #0245bd;
  border-radius: 50%;
  animation: spin 80s linear infinite reverse;
}

#littleLines{
  position: absolute;
  left: 86px; right: 86px;
  top: 86px; bottom: 86px;
  margin: auto;
  transform: rotate(30deg);
}

#littleLines .line{
  position: absolute;
  top: 0;
  bottom: 50%;
  right: 0;
  left: 0;
  margin: auto;
  width: 80px;
  overflow: hidden;
  transform-origin: center bottom;
}

#littleLines .line div{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -124px;
  width: 328px;
  height: 328px;
  border: 5px solid #0084fb;
  border-radius: 50%;
}

#littleInnerDots{
  position: absolute;
  left: 97px; right: 97px;
  top: 97px; bottom: 97px;
  margin: auto;
  border: 2px dotted #0245bd;
  border-radius: 50%;
  animation: spin 80s linear infinite reverse;
}
#littleStrokes{
  position: absolute;
  left: 122px; right: 122px;
  top: 122px; bottom: 122px;
  margin: auto;
  animation: spin 60s linear infinite reverse;
}

#littleStrokes .stroke{
  /*background-color: red;*/
  width: 100%;
  height: 100%;
  position: absolute;
}

#littleStrokes .stroke div{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 1px;
  height: 12px;
  margin: auto;
  background-color: #0447c4;
}


