
<div id="container">
  <div id="content">
    <div id="bigOutterBorder"></div>
    <div id="bigStrokes">
      <div class="stroke" style="transform: rotate(90deg)">
        <div></div>
      </div>
    </div>
    <div id="bigInnerBorder"></div>
    <div id="bigDots"></div>
    <div id="littleOutterDots"></div>
    <div id="littleLines">
      <div class="line">
        <div></div>
      </div>
    </div>
    <div id="littleInnerDots"></div>
    <div id="littleStrokes">
      <div class="stroke" style="transform: rotate(90deg)">
        <div></div>
      </div>
    </div>

    <div id="infos"></div>
    <div class="infos" id="skills" data-title="Skills"><mdb-icon fas icon="chart-bar"></mdb-icon></div>
    <div class="infos" id="about" data-title="About me"><mdb-icon fas icon="child"></mdb-icon></div>
    <div class="infos" id="project" data-title="Projects"><mdb-icon fas icon="laptop"></mdb-icon></div>
    <div class="infos" id="toto" data-title="Toto"><mdb-icon fas icon="magic"></mdb-icon></div>

    <div id="banniere">
      <p id="paragraphe"></p>
    </div>
  </div>
</div>

