<div id="container" xmlns="http://www.w3.org/1999/html">
  <div id="content">
    <div id="bigOuterBorder"></div>
    <div id="bigStrokes">
      <div class="stroke" style="transform: rotate(90deg)">
        <div></div>
      </div>
    </div>
    <div id="bigInnerBorder"></div>
    <div id="bigDots"></div>
    <div id="littleOuterDots"></div>
    <div id="littleLines">
      <div class="line">
        <div></div>
      </div>
    </div>
    <div id="littleInnerDots"></div>
    <div id="littleStrokes">
      <div class="stroke" style="transform: rotate(90deg)">
        <div></div>
      </div>
    </div>

    <div id="infos">Selected one subject</div>
    <div class="infos" id="skills" data-title="Skills"><mdb-icon fas icon="chart-bar"></mdb-icon></div>
    <div class="infos" id="about" data-title="About"><mdb-icon fas icon="child"></mdb-icon></div>
    <div class="infos" id="project" data-title="Projects"><mdb-icon fas icon="laptop"></mdb-icon></div>
    <div class="infos" id="contact" data-title="Contact"><mdb-icon far icon="address-card"></mdb-icon></div>

    <div id="banniere">
      <p id="paragraphe"></p>
    </div>
    <div class="box" id="bigBox">

      <div id="boxSkills">
        <h1>Skills</h1>
        <i class="fas fa-arrow-right fa-3x"></i>
        <div id="containerBarre">
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">HTML</div>
            <div class="progress-value" id="progress-value-HTML" style="background-color: lawngreen"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">CSS</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 70%"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">JS</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 60%"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">PHP</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 62%"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">REACT</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 60%"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">ANGULAR</div>
            <div class="progress-value" style="background-color: orangered; max-width: 50%"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">LARAVEL</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 65%"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">JQUERY</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 60%"></div>
            <div class="pourcent"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">PHASER</div>
            <div class="progress-value" style="background-color: red; max-width: 40%"></div>
            <div class="pourcent"></div>
          </div>
        </div>

      </div>

      <div id="boxAbout">
        <h1>About me</h1>
        <div id="containerProfil">
          <div id="piece">
            <div id="divImgToon"></div>
            <div id="divImg"></div>
          </div>
          <a href="CV/CV.html" target="_blank">CONSULT MY CV</a>

          <p style="color: white; position: absolute; top: 40%; left: 7%; width: 30%; height: 100px">Développeur, un métier où tout est possible !<br />
            Passionné par l'univers du web et doté d'une grande curiosité, je suis actuellement en formation chez la "Web@cademie"(epitech-RENNES) qui nous prépare pour le monde professionnel. Nous avons donc appris et amélioré nos compétences au travers de projets diverses et variés (projet se déroulant durant 1 à 2 semaines).<br />
            Travailler avec vous me permettrait d'approfondir mes compétences et de continuer mon ascension dans ce milieu si vaste qu'est le développement informatique. Je recherche donc activement une alternance afin de finaliser cette formation.</p>
        </div>
        <i class="fas fa-arrow-right fa-3x"></i>
      </div>

      <div id="boxProject">
        <h1>Projects</h1>
        <div id="projectBox">
          <a href="" class="folderImage" id="meeticImage"><div class="infosImage">project time = 1 week</div></a>
          <a href="W-JSC-501-REN-1-1-battleship-anthony.cordon" class="folderImage" id="battleshipImage"><div class="infosImage">project time = 1 week</div></a>
          <a href="W-WEB-090-REN-1-1-spotify-anthony.cordon" class="folderImage" id="spotifyImage"><div class="infosImage">project time = 1 weekend</div></a>
          <a href="" class="folderImage" id="phaserImage"><div class="infosImage">project time = 1 week</div></a>
          <a href="" class="folderImage" id="angularImage"><div class="infosImage">project time = 1 week</div></a>
          <a href="jurassic/index.html" class="folderImage" id="cinemaImage"><div class="infosImage">project time = 1 weekend</div></a>
          <a href="W-COL-501-REN-1-1-quizz-anthony.cordon/quizz.php" class="folderImage" id="quizImage"><div class="infosImage">project time = 1 afternoon</div></a>
          <a href="Morpion/index.php" class="folderImage" id="morpionImage"><div class="infosImage">project time = 1 afternoon</div></a>
        </div>
        <i class="fas fa-arrow-right fa-3x"></i>
      </div>

      <div id="boxContact">
        <i class="fas fa-arrow-right fa-3x"></i>
        <form id="form" method="post" (submit)="clickbutton($event)">
          <input type="text" placeholder="Name" name="name" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; width: 400px; height: 100px;" required>
          <input type="email" placeholder="Email" name="email" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; width: 400px; height: 100px;" required>
          <input type="text" placeholder="Subject" name="subject" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; width: 400px; height: 100px;">
          <textarea type="text" placeholder="Message" name="message" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; width:400px; height: 100%"></textarea>
          <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </form>
      </div>
    </div>
  </div>


  <!-- PHONE -->

  <div id="phone">
    <div id="nav">
      <div class="skill">
        <i class="fa-chart-bar fas" ng-reflect-ng-class="[object Object]"></i>
        <h1>Skills</h1>
      </div>
      <div class="about">
        <i class="fa-child fas" ng-reflect-ng-class="[object Object]"></i>
        <h1>About</h1>
      </div>
      <div class="project">
        <i class="fa-laptop fas" ng-reflect-ng-class="[object Object]"></i>
        <h1>Projects</h1>
      </div>
      <div class="contactMe">
        <i class="fa-address-card far" ng-reflect-ng-class="[object Object]"></i>
        <h1>Contact</h1>
      </div>
    </div>
    <div id="selected">

      <div id="skillsBox">
        <div id="containerBarreSkills">
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">HTML</div>
            <div class="progress-value" id="progress-value" style="background-color: lawngreen"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">CSS</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 70%"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">JS</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 60%"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">PHP</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 62%"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">REACT</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 60%"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">ANGULAR</div>
            <div class="progress-value" style="background-color: orangered; max-width: 50%"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">LARAVEL</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 65%"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">JQUERY</div>
            <div class="progress-value" style="background-color: lawngreen; max-width: 60%"></div>
          </div>
          <div class="progress">
            <div style="color: #00feff; padding-right: 10px; margin-left: 10px">PHASER</div>
            <div class="progress-value" style="background-color: red; max-width: 40%"></div>
          </div>
        </div>
      </div>

      <div id="boxAboute">
        <a href="CV/CV.html" target="_blank">Consult my CV</a>

        <p>Développeur, un métier où tout est possible !<br />
          Passionné par l'univers du web et doté d'une grande curiosité, je suis actuellement en formation chez la "Web@cademie"(epitech-RENNES) qui nous prépare pour le monde professionnel. Nous avons donc appris et amélioré nos compétences au travers de projets diverses et variés (projet se déroulant durant 1 à 2 semaines).<br />
          Travailler avec vous me permettrait d'approfondir mes compétences et de continuer mon ascension dans ce milieu si vaste qu'est le développement informatique. Je recherche donc activement une alternance afin de finaliser cette formation.
        </p>

        <div id="piece">
          <div id="divImgToon"></div>
          <div id="divImg"></div>
        </div>
      </div>

      <div id="boxProjects">
        <a href="" class="folderImage" id="meeticImage"><div class="infosImage">project time = 1 week</div></a>
        <a href="W-JSC-501-REN-1-1-battleship-anthony.cordon" class="folderImage" id="battleshipImage"><div class="infosImage">project time = 1 week</div></a>
        <a href="W-WEB-090-REN-1-1-spotify-anthony.cordon" class="folderImage" id="spotifyImage"><div class="infosImage">project time = 1 weekend</div></a>
        <a href="" class="folderImage" id="phaserImage"><div class="infosImage">project time = 1 week</div></a>
        <a href="" class="folderImage" id="angularImage"><div class="infosImage">project time = 1 week</div></a>
        <a href="jurassic/index.html" class="folderImage" id="cinemaImage"><div class="infosImage">project time = 1 weekend</div></a>
        <a href="W-COL-501-REN-1-1-quizz-anthony.cordon/quizz.php" class="folderImage" id="quizImage"><div class="infosImage">project time = 1 afternoon</div></a>
        <a href="Morpion/index.php" class="folderImage" id="morpionImage"><div class="infosImage">project time = 1 afternoon</div></a>
      </div>

      <div id="boxContacts">
        <form id="formulaire" method="post" (submit)="clickbutton($event)">
          <input type="text" placeholder="Name" name="name" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; height: 100px;" required>
          <input type="email" placeholder="Email" name="email" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; height: 100px;" required>
          <input type="text" placeholder="Subject" name="subject" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; height: 100px;">
          <textarea type="text" placeholder="Message" name="message" style="margin-bottom: 20px; border: solid 1px #00feff; border-radius: 5px; height: 100%"></textarea>
          <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </form>
      </div>


    </div>


  </div>
</div>
