@import url(https://fr.allfont.net/allfont.css?fonts=space-age);

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#container {
  /*background-color: #23243b;*/
  /*background-color:#111e32;*/
  background-color:#1d222b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 500px;
}

#content{
  position: relative;
  width: 100%;
  height: 100%;
}

/* = tout les elements du parent*/
#content *{
  box-sizing: border-box;
}


#infos{
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #0129a9;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #0b54de;
}

#infos:hover{
  border: 3px solid #00feff;
  border-radius: 50%;
}

#banniere{
  position: absolute;
  margin-left: 350px;
  margin-top: 150px;
  width: 600px;
  height: 200px;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  background-color:  rgba(35, 36, 59, 0.4);
  /*box-shadow: 10px 10px;*/
  box-shadow: 5px 5px rgba(0,0,0,0.4);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

#bigBox > div{
  display: none;
}

#bigBox[data-title="Skills"] > #boxSkills{
  display: flex;
  justify-content: center;
}

#containerBarre{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 200px;
}
.pourcent{
  color: white;
  padding-left: 20px;
}
.progress {
  background: rgba(255,255,255,0.1);
  border-radius: 100px;
  align-items: center;
  display: flex;
  height: 40px;
  width: 500px;
  margin-left: 10px;
  margin-bottom: 100px;
}
.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}
@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}

#bigBox[data-title="About"] > #boxAbout{
  display: flex;
}

#containerProfil{
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  justify-content: center;
}

#piece{
  width: 300px;
  height: 300px;
  margin-top: 2%;
  margin-bottom: 100px;
  transition: transform 220ms ease-in-out;
  transform-style: preserve-3d;
  perspective: 500px;
  perspective-origin: center;
  margin-left: 400px;
}

#piece:hover{
 transform: rotateY(180deg);
}

#divImgToon{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/Antho.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #00feff;
  border-radius: 50%;
  backface-visibility: hidden;
}

#divImg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/photoanto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #00feff;
  border-radius: 50%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#bigBox[data-title="Projects"] > #boxProject{
  display: flex;
}

#bigBox[data-title="Contact"] > #boxContact{
  display: flex;
}

#form{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin-left: -100px;
  margin-top: 15%;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: rgba(35, 36, 59, 0.9);*/
  background-color: red;
  width: 100%;
  height: 100%;
  display: none;
}

@keyframes slidein {
  from {
    margin-top: 0%;
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 100%;
  }
}

.backBox{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(35, 36, 59, 0.95);
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  animation-duration: 2s;
  animation-name: slideinBack;
  animation-fill-mode: forwards;
}

@keyframes slideinBack {
  from {
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    margin-left: 100%;
    width: 100%;
    height: 100%;
  }
}

.animBox{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(35, 36, 59, 0.95);
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  animation-duration: 2s;
  animation-name: slidein;
}

h1{
  display: flex;
  position: absolute;
  top: 0;
  color: white;
  font-size: 80px;
  margin-top: 5%;
  justify-content: center;
  font-family: 'Space Age', arial, serif;
}

#boxSkills .fas, #boxAbout .fas, #boxProject .fas, #boxContact .fas{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}
#boxSkills .fas:hover, #boxAbout .fas:hover, #boxProject .fas:hover, #boxContact .fas:hover{
  color:  #00feff;
}

#boxSkills, #boxAbout, #boxProject, #boxContact{
  display: flex;
  justify-content: center;
  align-items: center;
}

#boxSkills{
  display: none;
}

#boxAbout{
  display: none;
}

#boxProject{
  display: none;
}

#projectBox{
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.folderImage{
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 50px;
  border: 1px solid white;
}
.infosImage{
  display: none;
}
.folderImage:hover .infosImage{
  display: flex;
  margin-top: -20px;
  color: white;
}

#meeticImage{
  background-image: url('images/meetic.jpg');
}
#battleshipImage{
  background-image: url('images/battleship.jpg');
}
#spotifyImage{
  background-image: url('images/spotyplay.jpg');
}
#phaserImage{
  background-image: url('images/phaser.png');
}
#cinemaImage{
  background-image: url('images/jurassic.jpg');
}
#angularImage{
  background-image: url('images/fread.png');
}
#quizImage{
  background-image: url('images/quizz.png');
}
#morpionImage{
  background-image: url('images/morpion.jpg');
}


#boxContact{
  display: none;
}


#paragraphe{
  color: white;
}

.infos{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #0279df;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  align-items: center;
  background-color: #0050db;
  color: #2df5ff;
}

.infos:hover{
  border: 2px solid #00feff;
  border-radius: 50%;
}

#skills{
  margin-top: 300px;
  margin-left: 80px;
}

#about{
  margin-bottom: 60px;
}

#project{
  margin-right: 215px;
  margin-top: 60px;
}

#contact{
  margin-right: 360px;
  margin-bottom: 300px;
}

mdb-icon{
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

#bigOuterBorder{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  border: 1px solid #0245bd;
  border-radius: 50%;
}

#bigStrokes{
  /*background-color: green;*/
  position: absolute;
  left: 4px; right: 4px;
  top: 4px; bottom: 4px;
  margin: auto;
  animation: spin 60s linear infinite;
}

#bigStrokes .stroke{
  /*background-color: red;*/
  width: 100%;
  height: 100%;
  position: absolute;
}

#bigStrokes .stroke div{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 2px;
  height: 25px;
  margin: auto;
  background-color: #0447c4;
}

#bigInnerBorder{
  position: absolute;
  left: 33px; right: 33px;
  top: 33px; bottom: 33px;
  margin: auto;
  border: 1px solid #0245bd;
  border-radius: 50%;
}

#bigDots{
  position: absolute;
  left: 37px; right: 37px;
  top: 37px; bottom: 37px;
  margin: auto;
  border: 2px dotted #0245bd;
  border-radius: 50%;
  animation: spin 80s linear infinite;
}
#littleOutterDots{
  position: absolute;
  left: 77px; right: 77px;
  top: 77px; bottom: 77px;
  margin: auto;
  border: 2px dotted #0245bd;
  border-radius: 50%;
  animation: spin 80s linear infinite reverse;
}

#littleLines{
  position: absolute;
  left: 86px; right: 86px;
  top: 86px; bottom: 86px;
  margin: auto;
  transform: rotate(30deg);
}

#littleLines .line{
  position: absolute;
  top: 0;
  bottom: 50%;
  right: 0;
  left: 0;
  margin: auto;
  width: 80px;
  overflow: hidden;
  transform-origin: center bottom;
}

#littleLines .line div{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -124px;
  width: 328px;
  height: 328px;
  border: 5px solid #0084fb;
  border-radius: 50%;
}

#littleInnerDots{
  position: absolute;
  left: 97px; right: 97px;
  top: 97px; bottom: 97px;
  margin: auto;
  border: 2px dotted #0245bd;
  border-radius: 50%;
  animation: spin 80s linear infinite reverse;
}
#littleStrokes{
  position: absolute;
  left: 122px; right: 122px;
  top: 122px; bottom: 122px;
  margin: auto;
  animation: spin 60s linear infinite reverse;
}

#littleStrokes .stroke{
  /*background-color: red;*/
  width: 100%;
  height: 100%;
  position: absolute;
}

#littleStrokes .stroke div{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 1px;
  height: 12px;
  margin: auto;
  background-color: #0447c4;
}

#phone{
  display: none;
}

/*********************************************************************************** Phone ***********************************************************************************************/
/*********************************************************************************** Phone ***********************************************************************************************/
/*********************************************************************************** Phone ***********************************************************************************************/
/*********************************************************************************** Phone ***********************************************************************************************/
/*********************************************************************************** Phone ***********************************************************************************************/


@media screen and (min-width: 0px) and (max-width:801px) {
  #content{
    display:none;
  }
  #container{
    width: 100%;
    height: 100%;
    display:flex;
  }
  #phone{
    display: flex;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color:  #212529;
  }
  #nav{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 70px;
    border: 1px solid #007bff;
  }

  #selected{
    display: flex;
    margin-top: 80px;
    width: 100%;
    height: auto;
    overflow-y: scroll;
  }

  h1{
    color: white;
    font-family: 'Space Age', arial, serif;
  }
  .skill{
    margin: auto;
    color: #00feff;
  }
  .skill h1{
    font-size: 10px;
    margin-top: 1px;
    margin-left: -10px;
  }

  #skillsBox{
    display: none;
    width: 100%;
    margin-top: auto;
    flex-direction: column;
  }

  #skillsBox h1{
    color: red;
  }

  .progress{
    display: flex;
    width: 100%;
    margin-left: 2px;
  }

  /****************** PROJECT ****************/

  .project{
    margin: auto;
    color: #00feff;
  }
  .project h1{
    font-size: 10px;
    margin-top: 1px;
    margin-left: -20px;
  }

  #boxProjects{
    display: none;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: auto;
    overflow-y: scroll;
  }

  .folderImage{
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    margin-right: 50px;
    margin-top: 50px;
    border: 1px solid white;
  }
  .infosImage{
    display: none;
  }
  .folderImage:hover .infosImage{
    display: flex;
    margin-top: -20px;
    color: white;
  }

  #meeticImage{
    background-image: url('images/meetic.jpg');
  }
  #battleshipImage{
    background-image: url('images/battleship.jpg');
  }
  #spotifyImage{
    background-image: url('images/spotyplay.jpg');
  }
  #phaserImage{
    background-image: url('images/phaser.png');
  }
  #cinemaImage{
    background-image: url('images/jurassic.jpg');
  }
  #angularImage{
    background-image: url('images/fread.png');
  }
  #quizImage{
    background-image: url('images/quizz.png');
  }
  #morpionnImage{
    background-image: url('images/morpion.jpg');
  }


      /**************** ABOUT *************/

  .about{
    margin: auto;
    color: #00feff;
  }
  .about h1{
    font-size: 10px;
    margin-top: 1px;
    margin-left: -15px;
  }
  #boxAboute{
    display: none;
    margin-top: 70px;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #boxAboute p{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
  }
  #boxAboute #piece{
    display: flex;
    width: 100%;
    margin-left: 0;
  }
  #boxAboute #divImgToon{
    width: 300px;
    left: 0;
    right: 0;
    margin: 30px auto;
  }
  #boxAboute #divImg{
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
  }
  #boxAboute a{
    display: flex;
    margin-top: -50px;
    margin-bottom: 50px;
    margin-left: 10%;
  }


  /****************** CONTACT ****************/

  .contactMe{
    margin: auto;
    color: #00feff;
  }
  .contactMe h1{
    font-size: 10px;
    margin-top: 1px;
    margin-left: -15px;
  }

  #boxContacts{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #formulaire{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    padding-bottom: 20px;
  }

  #boxContacts #formulaire input{
    display: block;
    width: 100%;
    height: 100%;
  }

}


